/* expand to 100% for these code blocks */

#page-59dcfa66f9a61e76164e6621 {
    .code-block {
        width: 100%;
        padding: 0;
    }
}

.Mobile-bar {
    z-index: 9999999 !important;
}

.Mobile-overlay {
    z-index: 99999999 !important;
}

body:not(.sqs-edit-mode) {
    /* HIDDEN FORM IN FOTOER */
    #footerBlocksTop {
        padding: 0 !important;
        .row.sqs-row {
            display: none;
        }
    }
}